/* variables */
:root {
  --primary: #f77f00;
  --secondary: white;
}
/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0%;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
body {
  background: #222;
  overflow-x: hidden;
  font-family: "RestoraThinItalic";
  font-size: 15px;
  text-align: center;
  margin-top: 500px;
}

.button {
  background: none;
  border: 2px solid var(--secondary);
  color: var(--primary);
  padding: 6px 12px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.button:hover {
  color: var(--secondary);
  background: var(--primary);
}

/* fonts */
@font-face {
  font-family: "RestoraThinItalic";
  src: url("assets/fonts/RestoraThinItalic.otf");
}

h1,
h2,
h3,
h4 {
  font-family: "RestoraThinItalic";
  text-align: center;
}

h1 {
  font-family: "RestoraThinItalic";
  font-size: 3em;
  color: white;
  text-shadow: 3px 0 saddlebrown;
  letter-spacing: 1px;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  color: #222;
}

h3 {
  font-size: 1.8em;
  color: #be5504;
}

h4 {
  font-size: 1.5em;
}

p,
a,
li {
  color: #ffa500;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.welcome-text a {
  color: white;
  text-shadow: 3px 0 saddlebrown;
  letter-spacing: 1px;
  font-weight: bold;
}

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px) {
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
}

/* desktop styles */
@media screen and (min-width: 1200px) {
}

/* grid testing */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.things {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
body img {
  width: 80px;
}
