body {
    background-color: #0b090a;
    overflow: hidden;
}

.title {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: fit-content;
    margin: auto;
  }
h1 {
    font-size: .77em;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 200;
    text-align: center;
}

h2 {
    font-size: 1em;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    transition: 2s ease;
}

h2:hover {
    animation-duration: 10s;
    color: #ffb86c;
    font-size: 1.0em;
}