body {
    background-color: #252525;
    overflow: hidden;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: fit-content;
    margin: auto;
  }

.socials {
    display: flex;
    justify-content: center;
}

.socials {
    flex-direction: row;
}

h1 {
    font-size: .9em;
    color: rgba(255, 255, 255, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 1em;
    color: rgba(255, 255, 255, 1);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

mark.dull {
    color: rgba(255, 255, 255, 0.1);
    background-color: transparent;
}

h3 {
    font-size: 1em;
    color: #ffb86c;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

a {
    font-size: .9em;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgba(255, 255, 255, 0.1);
    font-weight: 400;
    margin: 10px;
    animation-duration: 3s ease;
    text-decoration: none;
    
}

h2:hover {
    animation-duration: 10s;
    color: #ffb86c;
}

a:hover {
    color: rgba(255, 255, 255, 0.3);
    
}