
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

h1 {
  margin-top: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin-top: 1.2rem;
}

h3 {
  margin-top: 1.2rem;
  margin-bottom: 2.4em;
}

h5 {
  margin-top: 2.4rem;
}

hr {
  margin-bottom: 2.4em;
  padding-bottom: 0.1em;
  background-color: hsl(000, 0%, 10%);
  border: none;
}

emT {
  margin-right: 0.25rem;
}

category {
  margin-top: 4em;
}

overview {
  margin-top: 1.2em;
  margin-bottom: 2em;
}

signee {
  margin-top: 5em;
}

.center-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3em;
  height: auto;
  text-align: center;
}

@media (max-width: 8.5in) {
    
  .center-text {
    margin-top: 1.2em;
  }
}

.name {
  font: 700;
}

.has-dropcap:first-letter {
  float: left;
  font-size: 6rem;
  line-height: 0.65;
  margin: 0.15em 0.1em 0.1em 0;
}
  
.dropcap {
  background: #303030;
  color: #FDF9F2;
  float: left;
  font-size: 6rem;
  line-height: 1;
  margin: 0.1em 0.1em 0.2em 0;
  padding: 0.1em;
}

.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}

.dropcap:before {
  margin-top: -0.2em;
}

.dropcap:after {
  margin-bottom: -0.15em;
}
  
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

p {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
    
h1           { font: 500 2.1rem/1.2 "PT Serif"; color: hsl(000, 0%, 0%); }
h2           { font: 500 2.1rem/1.2 "PT Serif"; color: hsl(000, 0%, 0%); }
h3           { font: 400 1.0rem/1.2 "PT Serif"; color: hsl(000, 0%, 0%); }
overview     { font: 400 1.0rem/1.5 "PT Serif"; color: hsl(000, 0%, 30%); }
emT          { font: 400 1.0rem/1.0 "PT Serif"; color: hsl(000, 0%, 0%); font-style: italic; }
time         { font: 500 1.0rem/1.2 "PT Serif"; color: hsl(000, 0%, 0%); }
h3           { font: 500 1.5rem/1.2 "PT Serif"; color: hsl(000, 0%, 0%); }
h4           { font: 500 1.5rem/1.2 "PT Serif"; color: hsl(000, 0%, 0%); }
h5           { font: 500 1.5rem/1.2 "PT Serif"; color: hsl(000, 0%, 0%); }
p            { font: 400 1.0rem/2 "PT Serif"; color: hsl(000, 0%, 0%); }
signee       { font: 400 1.0rem/4 "PT Serif"; color: hsl(000, 0%, 10%); }
figcaption p { font: 400 0.75rem/1.5 "PT Serif"; color: hsl(000, 0%, 0%); }
span         { font: 400 1.0rem/1.5 "PT Serif"; color: hsl(000, 0%, 0%); }
category     { font: 700 1rem/1.0 "Lato"; color: rgb(125, 44, 44); }
a1           { font: 700 0.9rem/1.0 "Lato"; color: rgb(125, 44, 44); }

.Directory h2 {
    display: flex;
    justify-content: center;
    color: white;
}

@media (max-width: 8.5in) { :root { font-size: 14px; }}
@media (max-width: 5in) { :root { font-size: 12px; }}
