body * {
    color: hsla(210, 100%, 100%, 0.88) !important;
    background: hsla(210, 100%, 50%, 0.33) !important;
    outline: hsla(210, 100%, 100%, 0.50) !important;
}

.debug-center {
    display:         flex;
    justify-content: center;
    align-items:     center;
}