.home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.home img {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 6rem;
    height: 6rem;
  }

.home a span{
    display:flex;
    justify-content: center;
  }

  .home a span p {
    font-weight: 400;
    font-size: 0.75rem;
    color: hsl(000, 0%, 20%);
    box-shadow: inset 0 -0.25em hsla(355, 78%, 56%, 1);
  }


